* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    gap: 7px;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;


}

header button {
    border: none;
    outline: none;
    border-radius: 50%;

}

header button img {
    width: 50px;
}

header input {
    border-radius: 50px;
    width: 15vw;
    height: 5vh;
    border: none;
    outline: none;
    background-color: rgb(32, 32, 32);
    color: rgb(162, 159, 159);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    background-image: url('img/logo.spotify.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.headerUl {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    padding: 40px;

}

.headerUl button {
    border: none;
    outline: none;
    background-color: #000000;
    color: #B3B3B3;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header img {
    width: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#esquerda {
    width: 20vw;
    height: 83vh;
    background-color: #222222;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

#esquerda button {
    width: 15vw;
    margin: 10px;
    height: 5vh;
    border-radius: 30px;
    font-size: 5mm;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(45, 45, 45);
    font-family: var(--encore-text-font-family, var(--encore-body-font-stack));
    ;
}

#article1 {
    margin: 20px;
    width: 18vw;
    height: 15vh;
    flex-direction: column;
    background-color: #343234;
    border-radius: 30px;

}

#article1 h4 {
    margin: 10px;
    color: white;
    align-items: start;
    justify-content: start;
    display: flex;
}

#article1 p {
    margin: 10px;
    color: white;
}

#article1 button {
    background-color: white;
    color: #000000;
    width: 7vw;
    height: 5vh;
}

#article2 {
    margin: 20px;
    width: 18vw;
    height: 15vh;
    flex-direction: column;
    background-color: #343234;
    border-radius: 30px;

}

#article2 h4 {
    margin: 10px;
    color: white;
    align-items: start;
    justify-content: start;
    display: flex;
}

#article2 p {
    margin: 10px;
    color: white;
}

#article2 button {
    background-color: white;
    color: #000000;
    width: 7vw;
    height: 5vh;
    font-size: 1em;
}

#direita {
    width: 80vw;
    height: 83vh;
    display: flex;
    background-color: #2f2e2e;
    border-radius: 25px;
    flex-direction:  column;
}
#direita h1{
    margin: 20px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: start;
}
#img{
display: flex;
    gap: 15px; 
    margin: 20px;
    margin: 20px;
    display: flex;
    margin-bottom: 200px;
}
#img img {
    width: 150px; 
    border-radius: 10px;
}
#img2{
    display: flex;
    gap: 15px; 
    margin: 20px;
    margin: 20px;
    display: flex;
}
#img2 img {
    width: 150px; 
    border-radius: 10px;
}
.card {
    display: flex;
    flex-direction: column; /* Coloca imagem em cima, bio embaixo */
    align-items: center; /* Centraliza o conteúdo */
    width: 150px; /* mesmo tamanho da imagem */
}
.card img {
    width: 150px;
    border-radius: 10px;
}
.card .bio {
    margin-top: 10px;
    color: white;
    font-size: 0.9em;
    text-align: center;
}
footer {
    width: 100vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to right, #FF69B4, #800080);
    border-radius: 25px;
    overflow: hidden;
}